/* Wrapper */
#wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #01A7B7;
    padding: 20px;
    overflow: hidden;
    /* 清除浮動 */
}

header h1 {
    color: #fff;
    text-shadow: -2px 0 #000000, 0 2px #000000,
        2px 0 #000000, 0 -2px #000000
        /* 清除浮動 */
}


.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links a {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    /* 使用Roboto字体，可替换为其他喜欢的字体 */
    font-size: 16px;
    /* 设置字体大小 */
    text-decoration: none;
    /* 取消下划线 */
    color: #ffffff;
    text-shadow: -2px 0 #000000, 0 2px #000000,
        2px 0 #000000, 0 -2px #000000
        /* 设置字体颜色 */
}

/* Navigation */
nav {
    background-color: #EEAF00;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

nav a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eee;
    box-shadow: 0 2px 4px #0000004d;
}



nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 200px;
}

/* Main content */
main {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 45px;
    background-image: url('images/u8au4bubma161.webp');
    background-size: cover;
    text-align: center;
    padding-bottom: 100px;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A54314;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    /* padding: 10px 20px; */
    cursor: pointer;

    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    text-decoration: none;
}

/* 設置LOGO樣式 */
.logo {
    float: left;
    margin-right: 20px;
}

.logo img {
    height: 80px;
    width: 80px;
    border: 5px solid #ffffff;
}



.title {
    float: left;
    /* 左浮動 */
    margin-left: 20px;
    /* 增加左邊距 */
}

.title h1 {
    margin: 0;
    /* 清除標題預設的邊距 */
}

.anim {
    color: #ffffff;
    padding-bottom: 20px;
    text-shadow: -2px 0 #000000, 0 2px #000000,
        2px 0 #000000, 0 -2px #000000
}

.c {
    border: 6px solid #01A7B7;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* 使用 rgba() 函式設置背景顏色和透明度 */
}

.pp {
    border: 4px solid #01A7B7;
    /* 使用 2px 的實線邊框，顏色為黑色 */
    width: 10%;
    /* 設定圖片寬度為父元素寬度的 50% */
    height: auto;
    /* 自動計算圖片高度，保持原始比例 */
}

.link {
    color: #EEAF00;
    /* 设置字体颜色 */
    text-decoration: none;
    font-size: 1.2em;
    /* 移除下划线 */
    text-shadow: -2px 0 #000000, 0 2px #000000,
        2px 0 #000000, 0 -2px #000000
}

.intro {
    color: #fff;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: -1.5px 0 #000000, 0 1.5px #000000,
        1.5px 0 #000000, 0 -1.5px #000000
}


/* 動畫 */
.typing-text {
    font-size: 24px;
    font-weight: bold;
    border-right: 2px solid #000;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }
}